<div class="container">
  <divn class="row">
    <div class="col-10">
      <h1>チーズケーキの作り方</h1>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="slider">
        <% @items.each do |item| %>
          <%= image_tag item.get_image(300,300) %>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="items" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </divn>
</div>