<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="mt-3 text-center">
        <h1>About</h1>
        <p class="mt-4">ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="mt-4 text-center">
        <div class="slider">
          <% @items.each do |item| %>
            <%= image_tag item.get_image(500,500) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>