<%= form_with model:[:admin, genre], local: false do |f| %>
<table class="table">
  <tbody>
    <tr>
      <td>ジャンル名</td>
      <td><%= f.text_field :name, class: "genre_form" %></td>
      <td><%= f.submit %></td>
    </tr>
  </tbody>
</table>
<% end %>