<div class="genre_error">
<%= render "layouts/error", object: @genre %>
</div>
<h1>ジャンル一覧・追加</h1>
<%= render "form",genre: @genre %>
<div class="genres_index">
  <%= render "genre", genres: @genres %>
</div>