<div id = "address_error">
<%= render "layouts/error", object: @address %>
</div>
<h1>配送先一覧/登録</h1>
<%= render 'form', address: @address %>
<div class="address">
<%= render 'address', addresses: @addresses %>
</div>
